.larg {
  max-width: 1032px;
  margin: 30px auto;
  padding: 0 30px;
  height: 100%;

}



.larg img {
  width: 50%;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .6s;
  opacity: 70%;
}

.larg .accordion-item {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #2D3142;
}

.larg .accordion-item h1 {
  padding: 24px;
  color: #ffffff;
}

.larg .accordion-button {
  background-color: #ffffff;
  border-style: none !important;
  padding: 20px 30px;
  margin: 0;
  line-height: 40px;
  color: #555;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.larg .accordion-button h3{
  font-size: 20px;
}

.accordion-header {
  margin: 0;
}


.accordion-button.collapsed {
  background: #ffffff;
  box-shadow: none;

}



.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none;
  border: 1px solid #e2e2e2;

}

.accordion-collapse {
  background-color: #ffffff;
}

.accordion-body {
  padding: 20px 30px;
  font-size: 18px;
}



.larg .accordion-button:hover,
.larg .accordion-button:hover .accordion-header {
  background-color: #ffffff;
  transition: all 0.5s;
}

.larg .accordion-header:hover img {
  width: 60%;
}

.larg .accordion-header:hover,
.larg .accordion-header:hover .accordion-button {
  background-color: #ffffff;
  transition: all 0.5s;
}


/* .larg div h3 span {
  font-family: "entypo";
  font-size: 19px;
  position: absolute;
  right: 0;
  transition: all 0.6s;
}

.larg div h3 span.close {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.larg div p {
  display: none;
  margin-left: 10px;
  padding: 0 15px;
  border-left: 1px solid #ccc;
} */