.container {
    display: flex;
    flex-wrap: wrap;

}

.form {
    margin: 2rem auto;
    border-radius: 10px;
    padding: 0;
    flex-grow: 1;
}

.container .header {
    width: 100%;
    background-color: #2D3142;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container .header h1 {
    margin: 0;
    padding: 30px 0;
    text-align: center;
}



.container h3 {
    font-weight: 500;
    padding: 20px;
    text-align: center;
    margin-top: 0;
}

.form-description {
    line-height: 30px;
}

.form-control {
    border: solid 1px #555555;
}

.form-control:focus {

    background-color: #ffffff;
    border: 2px solid;
    outline: 0;
    box-shadow: none;
}

.form-select-lg {
    padding: 7px 5px !important;
    border: solid 1px #555555;
}

.form-select-lg:focus {
    background-color: #ffffff;
    border: 2px solid;
    outline: 0;
    box-shadow: none;
}



.form-check {
    margin-left: 2rem;
}

.form-check-input {
    border-color: #2D3142;
}

.row {
    margin: 25px 0;
}

.consent-row {
    margin: 10px 0;
}

.consent-text {
    letter-spacing: 0.5px;
    line-height: 24px;
}

h4 {
    text-align: center;
}


/* .form-check-input[type="radio"]:focus,
.form-check-input[type="radio"]:checked {
    color: #000000;
    border: solid 4px #E0202C;
    background-color: #ffffff;
    box-shadow: none;
} */

.main {
    padding: 10px 45px;
    background-color: #ffffff;
}

#inputContainer {
    margin-top: 10px;
}


.form-label {
    font-weight: 500;
    margin: 10px 0;
}

.form-label-small {
    font-weight: 400;
    margin-left: 1rem;
}

.headers {
    margin-top: 1rem;
}

.dropdown-toggle {
    border: solid 1px #555555;
}

.input-number {
    width: 15%;
    margin-left: 10px;
}

#inputContainer1,
#inputContainer {
    margin-left: 10px;
}

/* .button {
    margin: 2rem;
} */

.submit {
    margin-top: 10px;
    padding: 0.6rem 2rem;
    font-size: 16px;
    font-family: 'Karla';
}

.submit:hover {
    transition: .3s;

}

.add-comment {
    font-family: 'Karla';
    padding: 0.6rem 2rem;
    font-size: 16px;
    background-color: #306E8C;
}

.warnings {
    color: #dc3545;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;

}


.glyphicon-comment {
    font-size: 14px;
}

.pdf {
    font-family: 'Karla';
    padding: 0.6rem 2rem;
    font-size: 16px;
    background-color: #70706e;
}

.glyphicon-copy {
    font-size: 14px;
}

.pdf:hover,
.add-comment:hover {
    border: 1px solid #dddada;
    padding: 0.6rem 2rem;
    font-size: 16px;
    color: black;
    background-color: #dddada;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    /* min-width: 720px; */
    margin-bottom: 10px;
    margin-right: 5px;
}


.select-btn {
    border: 1px solid #4F5D75;
    padding: 0.9rem 2rem;
    /* width: 20%; */
}